@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#navbar{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 5px 5px 20px rgba(0,0,0,.5);
    background: black;
}

@media screen and (min-width: 768px){
    #navbar{
        padding: .5rem 5rem;
    }
}
.navbar .navbar-brand{
    font-size: 25px;
    font-weight: 800;
    color: chartreuse !important;

}#navbarNav a{
    color: white;
    border-bottom: 2px solid transparent;
}
#navbarNav a:hover{
    border-bottom: yellowgreen 2px solid ;

}


#navbarNav button{
    background: yellowgreen;
    width: 5rem;
    border-radius: 15px;

}

section{
    width: 100%;
    /* height:100vh ; */
    display: flex;
    justify-content: center;
    align-items: center;

}

#home{
    background:linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.4)), url(img/disco.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
}

#home h1{
    font-size: 150px;
    color: white;
    letter-spacing: 3px;
    font-family: 'Raleway', sans-serif;
    text-shadow: 0px 1px 0px #CCC ,
                 0px 2px 0px #CCC ,
                 0px 3px 0px #CCC ,
                 0px 4px 0px #CCC ,
                 0px 5px 0px #CCC ,
                 0px 6px 0px #CCC ,
                 0px 7px 0px #CCC ;
                 
}

@media screen and (max-width: 768px){
    #home h1{
        font-size: 80px;
    }
}

#home p{
    font-size: 18px;
    color: #fff;

}

#home .input-group{
    height: 45px;
}

@media screen and (min-width: 768px){
    #home .input-group{
        width: 40%;
    }
}

.signin{
    background: green !important;
    color: white !important;
    box-shadow:2px 4px 5px rgba(0,0,0,.3) ;

}

#about{
    background: linear-gradient(to bottom, #B8B8AA, #586F6B 100%);
}
#about h1{
    font-weight: 800;
    font-size: 50px;
    color: white;
}

#about p{
    color: white;

}


#products{
    background:linear-gradient( to top,#B8B8AA, #586F6B 100%) ;
    background-size: cover;
    
}

#products h1{
    font-size: 50px;
    letter-spacing: 2px;
    font-weight: 700;
    color: white;

}

.card{
    width: 270px;
    height: 370px;
    background: #e5e5e5 !important;
    border: none !important;
    box-shadow: 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white;
    border-radius: 20px !important;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card:hover{
    box-shadow: inset 15px 20px 20px rgba(0,0,0,.3),
                inset 4px 4px 10px white; 
    transition: .2s;
}

@media screen and (min-width: 768px){
    #contact img{
        height: 300px;
        width: 300px;
    }
}

.box{
    width: 80% !important;
    
    margin-top: 10px;

}
form{
    display: flex;
    flex-direction: column;
}
#contact input{
    margin: 10px 0px;

}
#contact{
    background: linear-gradient(to bottom, #B8B8AA, #586F6B 100%);

    
}
#contact text{
    margin: 10px 0px;
}

footer{
    width: 100%;
    height: 30px;
    background: rgba(0,0,0,.8);
    /* margin-top: -30px; */
    text-align: center;
    color: white;
    padding: 3px;
}